input[type=range] {
  -webkit-appearance: none;
  width: 90%;
  margin: 5.2px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c8c8c8;
  border-radius: 2.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0px solid #000000;
  height: 15px;
  width: 11px;
  border-radius: 3px;
  background: #10284D;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -5.2px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d5d5d5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 6.6px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #c8c8c8;
  border-radius: 2.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0px solid #000000;
  height: 17px;
  width: 11px;
  border-radius: 3px;
  background: #072bec;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 6.6px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bbbbbb;
  border: 0px solid #010101;
  border-radius: 5.8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #c8c8c8;
  border: 0px solid #010101;
  border-radius: 5.8px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1.1px 1.1px 1px #000000, 0px 0px 1.1px #0d0d0d;
  border: 0px solid #000000;
  height: 17px;
  width: 11px;
  border-radius: 3px;
  background: #072bec;
  cursor: pointer;
  height: 6.6px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #c8c8c8;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d5d5d5;
}

