#header {
  font-family: Arial,Helvetica,sans-serif;
  margin-top: -15px;
  margin-bottom: -15px;
  font-size: 90%;
}
#header img {
  height: 70px;
  vertical-align: middle;
}

#tab-vm {padding-bottom: 140px;}

#tab-vm table {
  float: left;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  background-image: none;
  background-color: rgb(31,49,89);
}

#tabs li {font-weight: bold;}
#tabs li a {
  display: inline-block;
  width: 200px;
}

.space {
  clear: both;
}

.table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

#tab-vm .table {
  margin: 12px;
}

#tab-vm .table:hover {
  border: 5px solid #55f;
  margin: 8px;
  cursor: pointer;
}

#tab-vm .table:hover .clubname {
  width: 142px;
}

.table {
  text-align: center;
}
.table td:first-child, .table th:first-child {
  text-align: left;
  padding-left: 8px;
}
.table td {
  border-top: 1px solid #aaa;
  font-size: 90%;
  padding-top: 2px;
  white-space: nowrap;
}
.table th {
  white-space: nowrap;
  text-align: center;
  color:#fff;
  background:transparent url(https://www.superstats.dk/images/bg_box_h2.png) repeat-x 0 -22px;
  border: collapse;
  padding-left: 5px;
  padding-right: 5px;
}
.table img {vertical-align: middle;}
.table .center {text-align: center}

#matchlist table {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
}

#matchlist table th {
  white-space: nowrap;
  color:#fff;
  background:transparent url(https://www.superstats.dk/images/bg_box_h2.png) repeat-x 0 -22px;
  border: collapse;
  padding-left: 5px;
  padding-right: 5px;
}
#matchlist table tr {
  border-top: 1px solid #ccc;
}
#matchlist table tr:nth-child(-n+2) {
  border-top: 0;
}

#matchlist td:last-child {
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
}

.clubname {width: 140px;}
.country {width: 40px;}

.table span.goal1 {
  display:inline-block;
  text-align: right;
  padding-right: 3px;
}
.table span.goal2 {
  display:inline-block;
  text-align: left;
  padding-left: 3px;
}

#matchlist span.goal1 {
  display:inline-block;
  width:100%;
  text-align: center;
}

#matchlist span.goal2 {
  display:inline-block;
  width: 100%;
  text-align: center;
}

#matchlist span.goal1, #matchlist span.goal2 {
  font-weight: bold;  
}

.ressep {
  text-align:center;
  width: 30px;
}

#matchlist img {
  cursor: pointer;
}



tr.vm1st {background-color: #bcffba;}
tr.vm2nd {background-color: #bcffba;}
tr.vm3rd {background-color: white;}
tr.vm4th {background-color: white;}

#tab-calc {
  display: none;
}
  
#matchlist input.odds{
  width: 1.2em;
  text-align: right;
  height: 16px;
}

#matchlist input {
  width: 1.5em;
  text-align: center;
}

#matchlist tr {
  height: 1.6em;
}

#matchlist tr:first-child {
  height: 1em;
}
#matchlist td:first-child {
  width: 2em;
  padding-left: 10px;
}
#matchlist td:nth-child(2) {
  padding-right: 10px;
}
#matchlist td:nth-child(4) {
  padding-left: 10px;
  padding-right: 10px;
}
#matchlist th:nth-child(-n+4) {
  text-align: left;
}

#teamstrength table {
}

.coef {
  text-align: right !important;
  width: 40px;
}

#leftdiv {
  float: left;
}

#rightdiv {
  float: left;
  margin-left: 15px;
}
/* 3 divs inside #rightdiv with group standing, action botton and result table */
#currentpos, #action, #results {
}

#numsimulations {
  width: 4em;
  text-align: right;
}

#action {display: flex;}

#action button {
  width: 60px;
}
#progressbar {
  margin-top: 10px;
  width: 100%;
  background-color: #cccccc;
  border: 1px solid black;
}

#progressbar > div {
  /*background-color: #6699aa;*/
  background-color: #6f6;
}

#progressbar .ui-progressbar-value {
  padding-top: 8px;
  padding-left: 15px;
}

#run {
/*  float: left;*/
  flex: 0 0 60%;
  margin-bottom: 20px;
  clear: left;
}

#simerror {
  flex: 1;
  color: red;
  width: 100px;
  height: 50px;
  margin-left: 20px;
}

#results {
  clear: both;
}

#results .pvalue, #resultcompare .pvalue {
  width: 40px;
  text-align: right;
  padding-right:5px;
  border-left: 1px solid #bbb;
}
#results th.pvalue, #resultcompare th.pvalue {
  padding-right: 14px;
}
span.super {
  font-size: 70%;
}



/* bottomclear is empty div, to ensure parent div (tab) encloses all floating divs */
#bottomclear {
  clear: both;
}
#footer {
  clear: both;
  color: gray;
  line-height: 130%;
  padding-top:10px;
  padding-bottom: 20px;
}
#footer img {
  vertical-align: middle;
}

#helpmatch,#helptable,#helpaction,#helpresult,#helpchange,#helpodds,#helpskill,#helpstrength {
  color: gray;
  font-size: 80%;
  cursor: help;
  vertical-align: top;
}

.ui-dialog .ui-dialog-content {
  background: #dddddd;
}
.ui-dialog-titlebar {
  color: white;
  background: rgb(16,51,93);
}


